@import 'normalize.scss';

$global_bgcolor: #fff;
$global_fgcolor: #222;
$global_width: 48em;

body,html {
  background-color: $global_bgcolor;
  color: $global_fgcolor;
  font: 100%/1.7 Georgia, Times, serif;
  margin: 0;
  padding: .5em;
}

header, main, footer {
  margin: 0 auto;
  max-width: 100%;
  width: $global_width;
}

header {
}

header figure {
  text-align: center;
  margin: 3em 0;
}

header img {
  border-radius: 50%;
}

header h1 {
  background: #fdc824;
  font-size: 2.5em;
}

article {
  font-size: 1.2em;
}

h1, h2 {
  font-weight: normal;
}

footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  float: left;
  margin: 0 1em 0 0;
}

/* micro-clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

@media (min-width: 667px) {
  header, main, footer {
    width: 36em;
  }
  header h1 {
    font-size: 3em;
  }
}
